<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
      <li><a (click)="loginAction()">Login</a></li>
      <li><a (click)="signupAction()">Signup</a></li>
      <li><a (click)="forgetPassword()">Forgot Password?</a></li>
      <!-- <li><a href="/cafe/dashboard">Dash board</a></li> -->
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @Nadula Disanayaka</h2>
</div>
